<link rel="shashengwan" sizes="180x180" href="{{ '/images/shashengwan.png' | relative_url }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ '/images/shashengwan.png' | relative_url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ '/images/shashengwan.png' | relative_url }}">
<link rel="manifest" href="{{ '/images/site.webmanifest' | relative_url }}">

<meta name="msapplication-TileColor" content="#000000">
<meta name="msapplication-TileImage" content="{{ '/images/mstile-144x144.png?v=M44lzPylqQ' | relative_url }}">
<meta name="msapplication-config" content="{{ '/images/browserconfig.xml?v=M44lzPylqQ' | relative_url }}">
<meta name="theme-color" content="#ffffff">
<link rel="stylesheet" href="{{ '/assets/css/academicons.css' | relative_url }}"/>

<script>
  window.MathJax = {
    tex: {
      // 兼容 Typora 的行内公式 $...$
      inlineMath: [['$', '$'], ['\\(', '\\)']],
      // 段落公式 $$...$$
      displayMath: [['$$', '$$'], ['\\[', '\\]']],
      processEscapes: true,
      processEnvironments: true,
      packages: {'[+]': ['ams']}
    },
    options: {
      // 关键改动：从这个数组中删除了 'code'，允许 MathJax 处理代码块中的公式
      skipHtmlTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
      ignoreHtmlClass: 'tex2jax_ignore',
      processHtmlClass: 'tex2jax_process'
    },
    loader: {
      load: ['[tex]/ams']
    }
  };
  </script>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
